<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myHistoryLabel">Create or edit a History</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!history.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="history.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_solvedDate">Solved Date</label>
            <div class="input-group">
                <input id="field_solvedDate" type="text" class="form-control" name="solvedDate" ngbDatepicker  #solvedDateDp="ngbDatepicker" [(ngModel)]="history.solvedDate"
                />
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="solvedDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_givenAnswer">Given Answer</label>
            <input type="text" class="form-control" name="givenAnswer" id="field_givenAnswer"
                [(ngModel)]="history.givenAnswer" />
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_questionAnswer">Question Answer</label>
            <select class="form-control" id="field_questionAnswer" name="questionAnswer" [(ngModel)]="history.questionAnswer" >
                <option [ngValue]="null"></option>
                <option [ngValue]="questionAnswerOption.id === history.questionAnswer?.id ? history.questionAnswer : questionAnswerOption" *ngFor="let questionAnswerOption of questionanswers; trackBy: trackQuestionAnswerById">{{questionAnswerOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_academiaUsers">Academia Users</label>
            <select class="form-control" id="field_academiaUsers" name="academiaUsers" [(ngModel)]="history.academiaUsers" >
                <option [ngValue]="null"></option>
                <option [ngValue]="academiaUsersOption.id === history.academiaUsers?.id ? history.academiaUsers : academiaUsersOption" *ngFor="let academiaUsersOption of academiausers; trackBy: trackAcademiaUsersById">{{academiaUsersOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
